body {
    margin: 0;
    padding: 0;
    background-color: rgb(37, 37, 90); 
}
.background-section {
    background-image: url(images/background.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh; /* Adjust the height as needed */
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .background-section h1 {
    text-align: center;
    margin: 0;
    padding: 0;
    color: rgb(255, 255, 255);
  }
  

.image-section {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
}

.image-section img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}
body {
    background-color: rgb(23, 23, 214));
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    background-image: url(images/background.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    color: rgb(255, 255, 255);
}

.image-section {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.image-section img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

body {
    background-color: transparent;
}

footer {
    background-color: transparent;
    color: white;
    text-align: center;
    padding: 20px;
    position: fixed;
    bottom: -100px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    transition: bottom 0.3s ease-in-out;
}

body.show-footer footer {
    bottom: 0;
}


